.dark-theme {
  background-color: $sec_dark;

  .header {
    box-shadow: none;
    background-color: $pri_dark;
    color: $grey_light;
  }

  .hero {
    &__description {
      color: $grey_light;
    }
  }
}
